[user]
	name = Nick Reynolds
	email = ndreynolds@gmail.com
[color]
    ui = auto
    diff = auto
	status = auto
	branch = auto
	interactive = auto
    grep = auto
[merge]
    tool = vimdiff
[github]
	user = ndreynolds
    token = 
	name = Nick Reynolds
	email = ndreynolds@gmail.com
[fetch]
    recurseSubmodules = true
[alias]
    br = branch
    co = checkout
    l = log --graph --pretty=oneline --abbrev-commit --decorate
